<div class="h1">
    Contact Us
</div>

<div class="small-1">
    If you have any enquiries about cost estimating and quantity surveying for construction project.
</div>

<div class="small-2">
    Please get in touch with us and our team will answer your questions.
</div>

<div class="grid-container">
    <div>
        <label for="" style="font-weight: 500;">
            Name
        </label>
        <div style="display: flex; flex-direction: row;">
            <input type="text" placeholder="First Name">
            <input type="text" style="margin-left: 15px;" placeholder="Last Name">
        </div>

        <label for="" style="font-weight: 500;">
            Email Address
        </label>
        <input type="text" placeholder="Email Address">

        <label for="" style="font-weight: 500;">
            Phone Number
        </label>
        <input type="text" placeholder="Phone Number">

        <label for="" style="font-weight: 500;">
            Subject
        </label>
        <input type="text" style="height:170px" placeholder="Description">  

        <div style="text-align: center;">
        <input type="submit" value="Submit">
    </div>
 </div>

    <div class="form" style="align-content: center; justify-content: center;">
         <p>Contact Name: Nick Clements </p>
         <p>Address: </p>
         <p>Phone: (+64)9 - 636 - 0632 </p>
         <p>Mobile: (+64)27 - 443 - 3732 </p>
         <p>Email: nick@yourqs.co.nz </p>
         </div>
    </div>  