:host {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: stretch;
  
    width: 300px;
    max-width: 100%;
    text-align: center;
  
    .btn {
      margin-top: 10px;
      min-height: 48px;
    }
    .providers {
      font-size: 1.5em;
    }
  }